#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS
export DH_GOPKG := launchpad.net/goget-ubuntu-touch

%:
	dh $@ --buildsystem=golang --with=golang --fail-missing

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang
	rm -rf ${CURDIR}/debian/tmp/usr/bin/abootimg-extract
	rm -rf ${CURDIR}/debian/tmp/usr/share/gocode/src/launchpad.net/goget-ubuntu-touch/ubuntu-emulator
	rm -rf ${CURDIR}/debian/tmp/usr/share/gocode/src/launchpad.net/goget-ubuntu-touch/ubuntu-device-flash
	rm -rf ${CURDIR}/debian/tmp/usr/share/gocode/src/launchpad.net/goget-ubuntu-touch/ubuntu-touch-do
